.students-ability-history-chart .axis path {
  display: none;
}
.students-ability-history-chart__grid-line {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}
/*.students-ability-history-chart{
  height:400px;
  width:800px;
}*/
.students-ability-history-chart svg {
  overflow: visible;
}
.students-ability-history-chart circle {
  stroke: transparent;
  fill: transparent;
}
.students-ability-history-chart__title {
  margin-top: 0;
  padding-top: 10px;
  width: 98px;
}