body {
  margin: 0;
  font-family: Arial;
  color: rgba(0,0,0,.2);
}

.axis path{
  display:none;
}
.axis line {
  stroke: rgba(0,0,0,.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}


.ability {
  fill: #32BBFF;
  fill-opacity: .7;
  stroke: #28abec;
  stroke-width: 1;
}

  .ability.finished {
    fill: #00CF00;
    stroke: #2fb72f;
  }

.ability-tip, .questionnaire-tip {
  position: absolute;
  top: -10px;
  left: 0;
  background: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-align: right;
}

.ability-tip:after, .questionnaire-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 17px;
    width: 100%;
    line-height: 14px;
    color: #000000;
    opacity: 0.8;
    content: "\25BC";
    position: absolute;
    top: 99%;
    left: 0;
    text-align: center;
  }



.report {
  position: relative;
  margin: 50px auto;
  width: 1000px;
}

.header, .footer {
  width: 100%;
  height: 100px;
  background-color: #3683BB;
  color: white;
  text-align: center;
  font-size: 41px;
  line-height: 80px;
  direction: rtl;
}

.footer {
  position: absolute;
  bottom: 0;
}

.legend text {
  fill: rgba(0,0,0,.4);
  font-size: 14px;
  direction: rtl;
}

.tick text {
  font-size: 1.4em;
}

.axis-label {
  fill: rgba(0,0,0,.4);
  font-size: 18px;
}

.student--finished {
  color: #00CF00;
}

.strong text {
  font-weight: bold;
  fill: #000000 !important;
}

.ability-tip__title {
  margin-bottom: 8px;
  /*font-size: 18px;*/
  border-bottom: 1px outset;
}

.tick text {
  fill: rgba(0,0,0,.4);
}

svg {
  overflow: auto;
}


