body{
  margin:0;
  font-family:Arial;
}
.axis path, .axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.dot {
    fill-opacity: .5;
}

.d3-tip{
    position:absolute;
    top:0;
    left:0;
    background: grey;
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-align:right;

}

.report{
  position:relative;
      margin: 50px auto;
    width: 1000px;
}

.header, .footer{
    width: 100%;
    height: 100px;
    background-color: darkkhaki;
    color: white;
    text-align: center;
    font-size: 41px;
    line-height: 80px;
}
.footer{
  position:absolute;
  bottom:0;
}