.students-ability-chart {
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  position: relative;
}
.students-ability-chart .axis path {
  display: none;
}
.students-ability-chart__grid-line {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}
.ability {
  fill: #929090;
  fill-opacity: .7;
  stroke: #929090;
  stroke-width: 1;
  stroke-opacity: 0.9;
}
.finished-part {
  fill: #5ede04;
  stroke: #5ede04;
  pointer-events: none;
  fill-opacity: 0.6;
  stroke-opacity: 0.8;
}
.students-ability-chart__preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 350px;
  font-size: 30px;
}
.students-ability-chart__axis-tick--strong text {
  font-weight: bold;
  fill: #000000 !important;
}
.students-ability-chart svg {
  overflow: visible;
}
.students-ability-chart__title,
.students-ability-history-chart__title {
  margin: 10px auto 0;
  width: 143px;
  line-height: 18px;
  color: #a2a0a0;
  font-size: 18px;
  font-weight: 600;
}
.legend .finished-part {
  fill: #4baf04;
}
.students-ability-chart__legend-text {
  fill: #a2a0a0;
  font-size: 13px;
  /*direction: rtl;*/
}
.students-ability-chart__axis-tick-text {
  font-size: 1.4em;
  fill: #a2a0a0;
}
.students-ability-chart__axis-label {
  fill: #a2a0a0;
  font-size: 18px;
}
.ability-tip,
.questionnaire-tip {
  position: absolute;
  top: -10px;
  left: 0;
  background: black;
  /*border-radius: 3px;*/
  padding: 10px 20px;
  color: white;
  text-align: right;
  direction: rtl;
}
.ability-tip {
  max-width: 350px;
  min-width: 150px;
  top: 12px;
}
.ability-tip:after,
.questionnaire-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 17px;
  width: 100%;
  line-height: 13px;
  color: #000000;
  content: "\25BC";
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  text-align: center;
  height: 12px;
}
.ability-tip:after {
  content: "\25B2";
  top: -11px;
  height: 12px;
}
.ability-tip__student {
  display: block;
  max-width: 175px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  overflow: hidden;
  /*min-width: @ability-tip-max-width/4;*/
}
.ability-tip__student--finished {
  color: #5ede04;
}
.ability-tip__title {
  margin-bottom: 6px;
  border-bottom: 2px outset #b7b5b5;
  text-align: center;
  padding-bottom: 4px;
  line-height: 18px;
}
.ability-tip__students {
  display: flex;
  flex-direction: row;
}
.ability-tip__students-column {
  display: flex;
  flex-direction: column;
}
.ability-tip__students-column:first-child {
  margin-left: 15px;
}
#adaptive-progress-report {
  width: calc(100% - 405px + 56px);
  margin: 0px 0 0 50px;
}
#adaptive-progress-container {
  padding: 100px 0 0 0;
}
@media screen and (max-width: 1280px) {
  #adaptive-progress-report {
    width: auto;
    margin: 50px 0 0 0;
  }
  #adaptive-progress-container {
    padding: 50px 0 0 0;
  }
  .students-ability-chart {
    margin-left: 20px;
  }
}
.selected-ability {
  /*stroke: #000;
    stroke-width: 3px;*/
}