.students-ability-dashboard {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #a2a0a0;
}
.students-ability-chart,
.students-ability-history-chart,
.student-average-ability-list {
  box-shadow: 1px 1px 10px grey;
  /*height: 55%;*/
}
.student-average-ability-list,
.students-ability-history-chart {
  margin-top: 12px;
}
.students-ability-chart {
  /*width: 100%;*/
}
.students-ability-history-chart {
  /*width: 75%;*/
}
.student-average-ability-list {
  /*width: ~"calc( 25% - 20px )";*/
}
.students-ability-dashboard__title {
  text-align: center;
  text-decoration: underline;
  font-size: 1.4em;
  margin: 0 auto;
  padding: 0.83em 0;
}