.students-ability-dashboard {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.students-ability-chart,
.students-ability-history-chart,
.student-average-ability-list {
  box-shadow: 1px 1px 10px grey;
  height: 55%;
}
.student-average-ability-list,
.students-ability-history-chart {
  margin-top: 12px;
  height: calc( 50% - 30px );
}
.students-ability-chart {
  width: 100%;
  margin-top: 20px;
}
.students-ability-history-chart {
  width: 75%;
}
.student-average-ability-list {
  width: calc( 25% - 20px );
}
.students-ability-dashboard__title {
  text-align: center;
  text-decoration: underline;
  font-size: 1.4em;
  margin: 0.83em auto;
}